<launch>
  <!-- navigation common params-->
  <rosparam file="$(find ehang_gazebo_function)/param_common/local_costmap_params.yaml"      command="load" ns="move_base"/>
  <rosparam file="$(find ehang_gazebo_function)/param_common/global_costmap_params.yaml"     command="load" ns="move_base"/>
  <rosparam file="$(find ehang_gazebo_function)/param_common/move_base_params.yaml"          command="load" ns="move_base"/>
  <rosparam file="$(find ehang_gazebo_function)/param_common/base_global_planner_param.yaml" command="load" ns="move_base"/>
  <rosparam file="$(find ehang_gazebo_function)/costmap_common_params/param_$(arg car_mode)/teb_local_planner_params.yaml"  command="load" ns="move_base"/>
  <param name="move_base/base_local_planner"    type="string" value="teb_local_planner/TebLocalPlannerROS"/>
  <arg name="car_mode"  default=""/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ehang_gazebo_function)/costmap_common_params/param_$(arg car_mode)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ehang_gazebo_function)/costmap_common_params/param_$(arg car_mode)/costmap_common_params.yaml" command="load" ns="local_costmap" />
  </node>
</launch>


