<launch>
    <!-- 设置launch文件的参数 -->
    <arg name="world_name" value="$(find ehang_description)/worlds/ehang.world"/> <!--地图文件位置及命名-->
    <arg name="paused" default="false"/> <!--以暂停状态打开Gazebo 默认为false-->
    <arg name="use_sim_time" default="true"/> <!--节点启动模拟时间，启动主题topic /clock 默认为true-->
    <arg name="gui" default="true"/> <!--启动Gazebo用户界面接口 默认为true-->
    <arg name="headless" default="false"/><!--Gazebo已弃用，不起任何作用，定义仍保留以防止打破其他launch启动-->
    <arg name="debug" default="false"/><!--用gdb模式启动gzserver（Gazebo 服务器） 默认为false-->

    <!-- 运行gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
    
</launch>
